body {
	margin: 0;
	padding: 0;
	min-width: 1122px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

/*Кнопки*/


.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

/*Навигация в шапке*/

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #699ab8;
}

.site-navigation a:active {
	color: rgba(0,0,0,0.3);
}

.site-navigation .active a {
	color: #766357;
}

/*Интро главной*/

.intro {
	position: relative;
	width:1200px;
	height: 504px;
	margin: auto;
	text-align: center;
	margin-bottom: 65px;

	background-color: #d7e8f2;
	background-image: url("../img/intro-background.jpg");
	background-repeat: no-repeat;
	background-position: center -57px;
	background-size: cover;
	background-clip: content-box;

	display: flex;
	justify-content: center;
	align-items: center;
}

.intro::before {
	content: "";
	position: absolute;

	bottom: -2px;
	left: 0;

	display: block;
	width: 100%;
	height: 59px;
	background-image: url("../img/polygon.png");
	background-repeat: no-repeat;
	background-position: center;
}

.intro-text {
	text-align: center;
	color: #333333;
}

.intro-text h2 {
	width: 467px;
	margin: 0 auto 30px;

	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}


/*Гостиницы на внутренней странице*/

.hotels {
	background-color: #ffffff;
}

.hotel-item .button {
	font-size: 14px;
	line-height: 21px;
}

.hotel-info h2 {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	margin-bottom: 0;
}

.hotel-info h2 a {
	color: #000000;
}

.hotel-info a {
	color: #333333;
}

.hotel-rating-text {
	display: inline;
	width: 110px;
	height: 27px;

	color: #666666;
	text-align: right;
	background-color: #f2f2f2;

	padding: 4px 13px;
	margin-right: 10px;
}

/*Форма поиска*/

.search-block {
	padding-top: 55px;
	text-align: center;
}

.search-title {
	font-size: 30px;
	line-height: 36px;
}

.search-main p {
	margin-bottom: 46px;

	font-size: 14px;
	line-height: 24px;
}

.search-block .button-brown {
	font-size: 21px;
	line-height: 26px;
}

.search-form {
	display: none;
	font-size: 14px;
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

.search-form input[type="text"] {
	font: inherit;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: 0;
}

.search-form input[type="text"]:hover {
	background-color: #ebebeb;
}

.search-form input[type="text"]:focus {
	background-color: #ffffff;
	outline: #e5e5e5 solid 2px;
}

.form-counter {
	display: inherit;
}

.form-input-num {
	position: relative;
}

.form-item-column {
	display: inherit;
}

.form-input-num {
	display: flex;
}

.form-item-btn {
	width: 38px;
	height: 35px;
	color: #bfbfbf;
	position: relative;
	padding: 0;
	border: none;
	font: inherit;
	font-size: 24px;
	background-color: #f2f2f2;
}

.remove-btn::before,
.add-btn::before {
	content: "";
	display: block;
	width: 12px;
	height: 3px;
	background-color: #a9a9a9;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -6px;
	margin-top: -1.5px;
}

.add-btn::after {
	content: "";
	display: block;
	width: 12px;
	height: 3px;
	background-color: #a9a9a9;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -6px;
	margin-top: -1.5px;
	transform: rotate(90deg);
}

.remove-btn:hover::before,
.remove-btn:focus::before,
.add-btn:hover::before,
.add-btn:focus::before,
.add-btn:focus::after,
.add-btn:hover::after {
	background-color: #000000;
}

.add-btn:active::before,
.add-btn:active::after,
.remove-btn:active::before {
	background-color: #91bdd8;
}

/*фильтр*/

.filters {
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
	color: #fff;
	background-color: #44749c;
}

.filters-form .main-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	margin: 0;
	padding: 0;
	color: #fff;
}

.infrastructure-items,
.prop-type-items {
	margin: 0;
	padding-right: 15px;
	list-style: none;
}

.daily-price,
.infrastructure,
.prop-type {
	margin: 0;
	padding: 0;
	text-align: left;
	border: none;
}

/*Футер*/

.main-footer {
	color: #000000;
	background-color: #ffffff;

	box-sizing: border-box;
	padding-right: 31px;
	padding-top: 8px;
	padding-left: 64px;
}

.footer-tag {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.footer-container ul {
	text-align: center;
}

.footer-container ul {
	list-style: none;
}

.footer-copyright {
	text-align: center;
	margin-top: 23px;
}






/* ----- Сеточные стили ----- */

.container {
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.checkbox input[type="checkbox"] {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.main-navigation {
	padding: 0;
	margin: 0;

	padding-left: 72px;
	padding-right: 72px;
	position: relative;
	min-height: 55px;
}

.main-navigation ul {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 55px; 
}

.main-header-logo {
	position: absolute;
	transform: translateX(-50%);
	left:50%;
	z-index: 1;
}

.site-navigation li {
	flex-basis: 200px;
}

.site-navigation li:nth-child(1) {
	margin-right: 40px;
	flex-grow: 0;
	text-align: left;
}

.site-navigation li:nth-child(2) {
	flex-grow: 1;
	text-align: left;
}

.site-navigation li:nth-child(3) {
	flex-grow: 1;
	text-align: right;
}

.site-navigation li:nth-child(4) {
	flex-grow: 0;
	margin-left: 40px;
	text-align: right;
}



.intro-img {
	padding: 76px 370px 73px;
}



.intro-text h2 {
	width: 52%;
	margin: 0 auto 30px;
}

.intro-text p {
	margin-bottom: 53px;
}



.dignity-container {
	min-height: 255px;
	display: flex;
	background-color: #eeeeee;
}

.dignity-item {

	width: 33%;
	padding: 30px 0;
	padding-top: 45px;
	text-align: center;
	background-color: #eeeeee;
	box-sizing: border-box;
}

.dignity-name {
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
}

.dignity-item p {
	margin: 20px 0;
	padding: 0 10%;
}

.dignity-item.pull-left,
.dignity-item.pull-right {
	background-color: #81b3d2;
	color: #ffffff;
}

.dignity-foto {
	width: 67%;
	font-size: 0;
	background-color: gray;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100%;
}

.dignity-foto.pull-right { 
	background-image: url("../img/content-1.jpg"); 
}

.dignity-foto.pull-left { 
	background-image: url("../img/content-2.jpg"); 
}

.features {
	min-height: 330px;
	display: flex;
	background-color: #ffffff;
}

.features-item {
	position: relative;

	width: 33%;
	padding: 165px 5% 60px;
	text-align: center;
}

.features-name {
	display: block;
	margin-bottom: 25px;
	font: 700 21px 'PT Sans';
	line-height: 21px;
	color: #000000;
}

.features-item p {
	margin-bottom: 0;
}

.dignity-item.blue {
	background-color: #81b3d2;
	color: white;
}

.features-item-housing {
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position-y: 60px;
	background-position-x: center;
}

.features-item-food {
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position-y: 65px;
	background-position-x: center;
}

.features-item-souvenir {
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position-y: 60px;
	background-position-x: center;
}


.search-title {
	margin-top: 0px;
}

.button {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
	padding: 0;
}

.search-block {
	height: 765px;
	width: 100%; 
}

.search-form {
	height: 335px;
	width: 512px;
	position: absolute;

	z-index: 20;
	left: 50%;
	transform: translateX(-283px); 

	margin-bottom: 0;
	padding-top: 57px;
	padding-left: 54px;
	position: top;
	text-align: left;
	vertical-align: middle;
}

.form-item {
	max-width: 470px;
}

.search-main {
	margin-bottom: 0px;
}

.search-block .button-brown {
	height: 31px;
	width: 366px;
	padding: 28px 100px; 
	text-align: center;
}


.search-form input {
	width: 336px;
	background-color: #f2f2f2;
	height: 35px; 
	text-align: left;

	margin-bottom: 29px;
	padding-left: 13px;
}

.search-form {
	padding-top: 54px;
}


.date {
	background-image: url("../img/calendar.svg");
	background-position: 315px center;
	background-repeat: no-repeat;
	width: 20px;
	height: 22px;
}

.search-form .num {
	width: 11px;
	text-align: center;
	padding-right: 13px;
}

.adults {
	margin-left: 4px;
}

.num {
	font-size: 14px;
	width: 36px;
	height: 36px;
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
	line-height: 36px;
	text-align: center;
}

.search-form label {
	height: 36px;
	line-height: 36px;
	width: 108px;
	display: inline-block;
	margin-right: 4px;
}

.search-form .children {
	text-align: center;
	margin-left: 22px;
	margin-right: -14px;
}

.num.child {
	width: 17px;
}

.search-form .button {
	width: 463px;
	padding: 20px 0px;
	padding-top: 15px;
	height: 60px;
	font-size: 21px;
	line-height: 26px;
	box-sizing: border-box;
	margin-top: 25px;
}

.map-container {
	background-color: #d1d1d1;
	background-image: url("../img/map.jpg");
	width: 100%;
	height: 370px;
	margin-bottom: -62px;
}

.map-container iframe {
	border: 0;
	width: 1200px;
	height: 470px;
}

.filters-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 28px 6% 30px;
	background: url("../img/hotels-background.jpg") no-repeat #44749c;
	background-size: cover;
}

.check-box {
	position: relative;
	cursor: pointer;
}

.infrastructure-items li,
.prop-type-items li {
	margin-top: 25px;
}

.check-box input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	z-index: 1;
	top: -2px;
	left: -41px;
	box-sizing: border-box;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.check-box input[type="checkbox"]:focus + .checkbox-indicator {
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.check-box input[type="checkbox"]:checked + .checkbox-indicator {
	position: absolute;
	z-index: 1;
	top: -2px;
	left: -41px;
	box-sizing: border-box;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
}

.prop-type {
	margin-right: auto;
	margin-left: 11%;
}


.filter-range {
	width: 330px;
	margin: 50px auto; /* для демо */

	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 9px;

	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;

	height: 36px;
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;

	background: #ffffff;
}

.hotels-sorting {
	display: flex;
	justify-content: space-between;

	padding-left: 70px;
	padding-right: 63px;
	padding-top: 15px;
	border-bottom: 1px solid #e5e5e5;
	background-color: #ffffff;
}

.sorting {
	display: flex;
}

.sorting b {
	padding-left: 6px;
	padding-top: 20px;
	font-size: 12px;
	line-height: 18px;
	display: block;
	margin-right: 39px;
	color: #000;
}

.sorting h2 {
	font-size: 21px;
	line-height: 26px;
	display: block;
	margin: 14px 45px 30px 0;
}

.sorting-type {
	list-style: none;
	display: flex;
	margin-top: 20px;
	padding-left: 0px;
	font-size: 14px;
}

.sorting-type a {
	color: #cdcdcd;
	font-size: 12px;
	line-height: 19px;
	margin-right: 33px;
	text-decoration-style: dotted;
	text-decoration-color: #81b3d2;
}

.sorting-type a:hover,
.sorting-type a:focus {
	color: #81b3d2;
}

.sorting-type a:active {
	color: #000000;
}

.sorting-type .active {
	color: #81b3d2;
	text-decoration: none;
}

.sorting-type li {
	margin-right: -2px;
}

.sorting-up-down {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-top: 7px;
}

.sorting-up-down li {
	font-size: 0;
	width: 0;
	height: 0;
	margin-right: 12px;
	cursor: pointer;
	border: 5px solid transparent;
	border-top-width: 0;
	border-bottom-width: 10px;
	border-bottom-color: #cdcdcd;
}

.sorting-up-down .sorting-active {
	border-bottom-color: #81b3d2;
}

.sorting-down {
	transform: rotate(180deg);
}

.sorting-up-down li:hover,
.sorting-up-down li:focus {
	border-bottom-color: #000000;
}

.sorting-up-down li:active {
	border-bottom-color: #81b3d2;
}

.sorting-up-down .sorting-active:hover,
.sorting-up-down .sorting-active:focus,
.sorting-up-down .sorting-active:active {
	border-bottom-color: #81b3d2;
}

.hotels {
	padding: 3px 0;
	margin-bottom: -2px;
}

.hotel-item {
	display: flex;
	min-height: 123px;
	justify-content: space-between;
	padding-top: 29px;
	width: 100%;
	padding: 29px 73px;
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box;
	padding-bottom: 25px;
	padding-right: 64px;
}

.hotel-info { 
	margin-top: -23px;
	margin-left: 30px;
}

.column {
	display: flex;
	justify-content: space-between;
}

.info-more,
.price-cell {
	display: flex;
	flex-direction: column;
}

.info-more {
	margin-right: 3px; 
}

.hotel-left {
	display: flex;
}

.hotel-info .block-table-cell { 
	padding: 7px 0; 
}


.hotel-info .button-blue {
	padding: 3px 17px;
	color: #ffffff;
}

.hotel-info .button {
	padding: 3px 17px;
	color: #ffffff;
	margin-top: 10px;
}

.hotel-rating {
	text-align: center;
}

.hotel-rating-stars {
	margin-bottom: 47px;
	margin-right: 4px;
	margin-top: -4px;
	text-align: right;
	font-size: 25px;
	color: #81b3d2;
	letter-spacing: 3px;
}



.main-footer {
	width: 100%;
	margin-top: -62px;
}

.footer-container {
	margin: 0 73px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 120px;
}


.footer-social{
	text-align: center;
	text-decoration: none;
	list-style: none;
	color: #ffffff;
	text-align: center;
	width: 400px;
}

.social {
	display: flex;
	margin: 0;
	padding: 0;
	margin-left: 128px;
	margin-right: auto;
	max-width: 100px;
	justify-content: space-between;
}

.social-list { 
	text-align: center;
	list-style: none;  
}

.social-button {
	background-color: #81b3d2;
	margin-left: 10px;
	height: 45px;
	width: 45px;
	display: block;
	padding: 15px 0;
	box-sizing: border-box;
}

.footer-copyright p {
	margin: 0;
	line-height: 39px;
}

.footer-copyright a {
	width: 113px;
	height: 39px;
	margin-left: 5px;
	vertical-align: middle;
	font-size: 0;
	text-decoration: none;
}

.inner-page .main-footer {
	margin-top: 0;
	padding-top: 0;
}

.inner-page .footer-container {
	margin: 0 68px;
}

.inner-page .social {
	margin-left: 242px;
}


.button {
	font: inherit;
	font-weight: 700;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #669ec0;
}

.button:active {
	color: rgba(255,255,255,0.3);

	background-color: #5496bd;
}

.button-brown {
	background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
	background-color: #604e43;
}

.button-brown:active {
	background-color: #554439;
}


.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active path {
	fill: rgba(255,255,255,0.3);
	background-color: #5496bd;
}

.info-more button:hover,
.info-more button:focus {
	background-color: #604e43;
}

.info-more button:active {
	color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}

.price-cell button-brown:hover,
.price-cell button-brown:focus {
	background-color: #604e43;
}

.price-cell button-brown:active {
	background-color: #554439;
	color: rgba(255,255,255,0.3);
}

.footer-copyright a:hover path,
.footer-copyright a:focus path {
	fill: #81b3d2;
}

.footer-copyright a:active path {
	fill: #bdbbbc;
}

.footer-copyright {
	display: flex;
}
.footer-copyright span {
	padding-top: 10px;
}


@keyframes modal {
	0% {
		transform: translateX(-283px) translateY(-50px);
		opacity: 0;
	}
	70% {
		opacity: 0.5;
	}

}

.form-show {
	display: flex;
	flex-direction: column;
	animation: modal 0.7s;
}

.form-error {
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}